<div class="responsive-container">
    <h2>Añadir Cliente</h2>
    <hr />
    <p> * Todos los campos son requeridos </p>
    <!-- Nombre del cliente Direccion Número de contacto -->
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm.value)">
        <div class="form-group">
            <label class="label-left">Nombre del Cliente: </label>
            <input placeholder="nombre" id="name" type="text" required minlength="3" maxlength="15" ngModel name="name" #name="ngModel" class="form-control">
        </div>
        <div class="form-group">
            <label class="label-left">Dirección: </label>
            <input placeholder="dirección" id="address" type="text" required minlength="10" maxlength="20" ngModel name="address" #address="ngModel" class="form-control" >
        </div>
        <div class="form-group">
            <label class="label-left">Telefono de Contacto: </label>
            <input type="tel" name="telefono" placeholder="teléfono" minlength="6" maxlength="12"  id="contact_number" required ngModel name="contact_number" #contact_number="ngModel" class="form-control">
        </div>

        <div *ngIf="showMsg">     
            
            <p class="alert alert-success">
                Listo! Se ha almacenado la información
  
            </p>
          </div>
        
          
        <button type="submit" class="btn btn-dark" [disabled]="!clientForm.valid">Guardar</button>
    </form>
</div>