{% extends 'base.html' %}
{% load static %}

{% block head %}
{% load bootstrap4 %}
{% endblock %}

{% block content %}

<body>

    
    <div class="container-content" >
        
        <div class="container responsive-container ">
            
            <h2> <a href="{% url 'entregas' %}" class="btn btn-light"><i class="fa fa-arrow-left "></i></a> Registrar entrega </h2>

            <hr />
            <o>* Todos los campos son requeridos, excepto información adicional. </p>
            <form method="POST" class="post-form">{% csrf_token %}
                {% bootstrap_form form layout="horizontal" label_class="form-label col-md-3" %}

                {% if messages %}
                {% for message in messages %}
               {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endif %}


                {% endfor %}
                {% endif %}

                <button type="submit" class="btn btn-primary button-values">Confirmar</button>
        </div>

    </div>
  

</body>

{% endblock %}