<div class="container responsive-container">
    <h2>Configuración de los Bash</h2>
    <hr />

    <button type="button" class="btn btn-dark" routerLink="/crear-bash">Añadir Bash</button> <br /><br />
    

    <div class="container-update-bash">

    
    <h4 class="padding-form"> Actualizar Bash   </h4>
    <div class="vl"></div>
    <form>
          <span class="label-left">Elegir Bash: </span>
          <select class="form-control-inline padding-form" >
            <option *ngFor="let bash of bashlist | async"> {{bash.name_bash}} </option>
          </select>
        
          <span class="label-left">Litros disponibles: </span>
          <input type="number" name="quantity" min="1" max="500" class=padding-form>
 
    
        <button type="submit" class="btn btn-dark">Confirmar</button>
      </form>

    </div>

    <table class="table bordered-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo cerveza</th>
                <th scope="col">Capacidad total</th>
                <th scope="col">Capacidad actual</th>

                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bash of bashlist | async">

                <td>{{bash.name_bash}}</td>
                <td>{{bash.type_beer}}</td>
                <td>{{bash.capacity}}</td>
                <td>{{bash.liters_now}}</td>

                <td style="width:230px">
                    <a href="#" class="btn btn-secondary"> <i class="fas fa-edit icon"></i> Editar</a>
                    <span> &nbsp; </span>
                
                    <a href="#" class="btn btn-danger"> <i class="fas fa-trash icon"></i> Eliminar</a>
                </td>


            </tr>
        </tbody>
    </table>

</div>

