<div class="responsive-container">
  <h2>Registrar Entrega</h2>
  <hr />
  <p> * Todos los campos son requeridos, excepto información adicional. </p>
  <form #deliveryForm="ngForm" (ngSubmit)="onSubmit(deliveryForm.value)">
    <!-- Tipo cerveza, Litros, Tipo de Empaque, Cliente, Bash, Información adicional-->
    <div class="form-group">
      <label class="label-left">Tipo Cerveza: </label>
      <select class="form-control-inline"  ngModel required name="type_beer" #type_beer="ngModel" class="form-control" id="type_beer" >
        <option>Rubia</option>
        <option>Morena</option>
        <option>etc</option>
      </select>
    </div>


    <div class="form-group">
      <label class="label-left">Litros: </label>
      <input type="number" name="quantity"  pattern="^$|^([1-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|100[01])?"  required ngModel name="liters" #liters="ngModel" class="form-control" id="liters">
    </div>

    <div class="form-group">
      <label class="label-left">Folio: </label>
      <input type="text" ngModel name="folio" #folio="ngModel" required class="form-control" id="folio" 
      pattern="^$|^([1-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|[1-8][0-9]{4}|9[0-8][0-9]{3}|99[0-8][0-9]{2}|999[0-8][0-9]|9999[0-9]|[1-8][0-9]{5}|9[0-8][0-9]{4}|99[0-8][0-9]{3}|999[0-8][0-9]{2}|9999[0-8][0-9]|99999[0-9]|[1-8][0-9]{6}|9[0-8][0-9]{5}|99[0-8][0-9]{4}|999[0-8][0-9]{3}|9999[0-8][0-9]{2}|99999[0-8][0-9]|999999[0-9]|[1-8][0-9]{7}|9[0-8][0-9]{6}|99[0-8][0-9]{5}|999[0-8][0-9]{4}|9999[0-8][0-9]{3}|99999[0-8][0-9]{2}|999999[0-8][0-9]|9999999[0-9]|[1-8][0-9]{8}|9[0-8][0-9]{7}|99[0-8][0-9]{6}|999[0-8][0-9]{5}|9999[0-8][0-9]{4}|99999[0-8][0-9]{3}|999999[0-8][0-9]{2}|9999999[0-8][0-9]|99999999[0-9]|1[0-9]{9}|20[0-9]{8}|21[0-3][0-9]{7}|214[0-6][0-9]{6}|2147[0-3][0-9]{5}|21474[0-7][0-9]{4}|214748[0-2][0-9]{3}|2147483[0-5][0-9]{2}|21474836[0-3][0-9]|214748364[0-7])?">
    </div>

    <!-- Esto se puede dejar como opcion o texto-->
    <div class="form-group">
      <label class="label-left">Tipo de Empaque: </label>
      <select class="form-control-inline"  ngModel name="package" required #package="ngModel" class="form-control" id="package">
        <option>Botella</option>
        <option>Barril</option>
      </select>
    </div>

    <!-- Cliente - Obtenerlos desde la base de datos -->
    <div class="form-group">
      <label class="label-left">Cliente: </label>
      <select class="form-control-inline" ngModel name="client" required #client="ngModel" class="form-control" id="client"> 
        <option *ngFor="let client of clientlist | async" value="{{client.id}}">
          <p>{{client.name}}</p>
        </option>
      </select>
    </div>


    <!-- Bash - Obtenerlos desde la base de datos -->
    <div class="form-group">
        <label class="label-left">Bash: </label>
        <select class="form-control-inline" ngModel name="bash" required #bash="ngModel" class="form-control" id="bash">
          <option *ngFor="let bash of bashlist | async"  value="{{bash.id}}">
            <p>{{bash.name_bash}}</p>
          </option>
        </select>
      </div>

    <!-- Información adicional - Cuadro de texto -->
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Información Adicional:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" minlength="10" maxlength="199" ngModel name="additional_info" #additional_info="ngModel" class="form-control" id="additional_info"></textarea>
    </div>

    <div *ngIf="showMsg">     
            
      <p class="alert alert-success">
          Listo! Se ha almacenado la información

      </p>
    </div>
  


    <button type="submit" class="btn btn-dark" [disabled]="!deliveryForm.valid">Confirmar</button>
  </form>
</div>