body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    padding-top: 2em;
    background-color: #f1f1f1;
}

.container-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-login-form {
    /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1); */
    padding: 5em;
}

.logo {
    max-width: 600px;
    padding: 2em;
    transition: ease .5s;
}

.vr {
    border-left: 1px solid #000;
    height: 500px;
    display: block;
}

@media(max-width: 1100px) {
    .logo {
        width: 40vw;
        padding: 1.5em;
        transition: ease .5s;
    }
}

@media(max-width: 700px) {
    .container-login {
        flex-direction: column;
        transition: ease .5s;
    }
    .vr {
        display: none;
    }
    .logo {
        width: 90%;
        padding: 1em;
        transition: ease .5s;
    }
    .container-login-form {
        padding: 0;
        box-shadow: none;
        transition: ease-in .5s;
    }
}

@media(max-width: 560px) {
    body {
        padding-top: 2em;
        padding: .5em;
        transition: ease-in .5s;
    }
}