<div class="responsive-container">
<h2>Registrar Entrega</h2>
<hr />
<form>
    <div class="form-group">
      <label>Tipo Cerveza: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Rubia</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Morena</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioetc" value="optionect">
        <label class="form-check-label" for="inlineRadioetc">etc</label>
      </div>
    </div>
    
    <div class="form-group">
        <label>Cantidad: </label>
        <select class="form-control-inline">
            <option>1</option>
            <option>2</option>
          </select>    
    </div>

    <div class="form-group">
        <label>Restaurant/Botillería: </label>
        <select class="form-control-inline">
            <option>NOMBRE 1</option>
            <option>NOMBRE 2</option>
          </select>    
    </div>

    
    <button type="submit" class="btn btn-primary">Confirmar</button>
  </form>
  </div>