<div class="responsive-container">
  <h2>Registrar Entrega</h2>
  <hr />
  <p> * Por ahora todos los campos son requeridos </p>
  <form [formGroup]="deliveryForm" (ngSubmit)="onSubmit(deliveryForm.value)">
    <!-- Tipo cerveza, Litros, Tipo de Empaque, Cliente, Bash, Información adicional-->
    <div class="form-group">
      <label class="label-left">Tipo Cerveza: </label>
      <select class="form-control-inline"  formControlName="type_beer" >
        <option>Rubia</option>
        <option>Morena</option>
        <option>etc</option>
      </select>
    </div>


    <div class="form-group">
      <label class="label-left">Litros: </label>
      <input type="number" name="quantity" min="1" max="500"  formControlName="liters">
    </div>

    <div class="form-group">
      <label class="label-left">Folio: </label>
      <input type="text" name="folio" formControlName="folio">
    </div>

    <!-- Esto se puede dejar como opcion o texto-->
    <div class="form-group">
      <label class="label-left">Tipo de Empaque: </label>
      <select class="form-control-inline"  formControlName="package">
        <option>1</option>
        <option>2</option>
      </select>
    </div>

    <!-- Cliente - Obtenerlos desde la base de datos -->
    <div class="form-group">
      <label class="label-left">Cliente: </label>
      <select class="form-control-inline" formControlName="client"> 
        <option *ngFor="let client of clientlist | async" value="{{client.id}}">
          <p>{{client.name}}</p>
        </option>
      </select>
    </div>


    <!-- Bash - Obtenerlos desde la base de datos -->
    <div class="form-group">
        <label class="label-left">Bash: </label>
        <select class="form-control-inline" formControlName="bash">
          <option *ngFor="let bash of bashlist | async"  value="{{bash.id}}">
            <p>{{bash.name_bash}}</p>
          </option>
        </select>
      </div>

    <!-- Información adicional - Cuadro de texto -->
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Información Adicional:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="additional_info"></textarea>
    </div>


    <button type="submit" class="btn btn-dark">Confirmar</button>
  </form>
</div>