.container-login{
    height: 100vh;
    background-color: rgb(33, 37, 41);
}
.label-inverted{
    color: white;
}
.container{
    max-width: 700px;
}
.container-logo{
    padding-top: 1.5em;
    margin: auto;
}
.img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin: auto;
}