<div class="container responsive-container">
    <h2>Entregas</h2>
    <hr />
    <button type="button" class="btn btn-dark" routerLink="/registrar-entrega">Registrar Entrega</button> <br /><br />
    <table class="table bordered-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha - Hora</th>
                <th scope="col">Tipo de Cerveza</th>
                <th scope="col">Litros</th>
                <th scope="col">Tipo de empaque</th>
                <th scope="col">Cliente</th>
                <th scope="col">Bash</th>
              
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let delivery of deliverieslist | async">

                <td>{{delivery.delivery_date}}</td>
                <td>{{delivery.type_beer}}</td>
                <td>{{delivery.liters}}</td>

                <td>{{delivery.package}}</td>
                <td>{{delivery.client.name}}</td>
                <td>{{delivery.bash.name_bash}}</td>
               
                <td style="width:270px">
                        <ng-template #tipContent>{{delivery.additional_info}}</ng-template>
                
                        <a type="button" class="btn btn-outline-secondary" [ngbTooltip]="tipContent"> <i class="fas fa-info icon"></i></a>
                        <span> &nbsp; </span>
                    <a href="#" class="btn btn-secondary"> <i class="fas fa-edit icon"></i> Editar</a>
                    <span> &nbsp; </span>
                
                    <a href="#" class="btn btn-danger"> <i class="fas fa-trash icon"></i> Eliminar</a>
                </td>


            </tr>
        </tbody>
    </table>

   
</div>