<div class="container responsive-container">
    <h2>Clientes</h2>
    <hr />
    <button type="button" class="btn btn-dark">Añadir Cliente</button> <br /><br />
  <table class="table bordered-table" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre del Cliente</th>
        <th scope="col">Direccion</th>
        <th scope="col">Número de Contacto</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clientlist | async">

        <td>{{client.name}}</td>
        <td>{{client.address}}</td>
        <td>{{client.contact_number}}</td>
        <td> AÑADIR ACCIONES AQUI! </td>
      </tr>
    </tbody>
  </table>
 
</div>