<div class="container responsive-container">
  <h2>Clientes</h2>
  <hr />
  <button type="button" class="btn btn-dark" routerLink="/crear-cliente">Añadir Cliente</button> <br /><br />
  <table class="table bordered-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre del Cliente</th>
        <th scope="col">Direccion</th>
        <th scope="col">Número de Contacto</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clientlist | async">

        <td>{{client.name}}</td>
        <td>{{client.address}}</td>
        <td>{{client.contact_number}}</td>
        <td style="width:230px">
          <a href="#" class="btn btn-secondary"> <i class="fas fa-edit icon"></i> Editar</a>
          <span> &nbsp; </span>
          <a href="#" class="btn btn-danger"> <i class="fas fa-trash icon"></i> Eliminar</a> 
        </td>
      </tr>
    </tbody>
  </table>

</div>