<div class="container-home">

  <div class="container-alerts">
    <div *ngFor="let bash of bashlist | async">
      <div class="warning" *ngIf="(bash.liters_now < 250 && bash.liters_now > 100)">
        <ngb-alert [dismissible]="false">
          <div class="alert-icon">
            <div>
              <strong>Alerta!</strong> Solo quedan:
              <h2>{{bash.liters_now}} litros </h2>
              de cerveza {{bash.type_beer}} en el <strong> {{bash.name_bash}} </strong>
            </div>
            <div>
              <i class="fas fa-exclamation icon"></i>
            </div>
          </div>
        </ngb-alert>
      </div>
    </div>

    <div *ngFor="let bash of bashlist | async">
      <div class="warning" *ngIf="(bash.liters_now <= 100)">
        <ngb-alert [dismissible]="false" type="danger">
          <div class="alert-icon">
            <div>
              <strong>Alerta!</strong> Solo quedan:
              <h2>{{bash.liters_now}} litros </h2>
              de cerveza {{bash.type_beer}} en el <strong> {{bash.name_bash}} </strong>
            </div>
            <div>
              <i class="fas fa-exclamation icon"></i>
            </div>
          </div>
        </ngb-alert>
      </div>
    </div>


  </div>


  <h1 style="text-align: center; padding: 1em;"> Bienvenido! </h1>
  <p style="text-align: center; padding: 1em;"> Selecciona algún menú de la barra superior para comenzar. </p>

</div>