<div class="responsive-container">
    <h2>Añadir Cliente</h2>
    <hr />
    <!-- Nombre del cliente Direccion Número de contacto -->
    <form>
        <div class="form-group">
            <label class="label-left">Nombre del Cliente: </label>
            <input placeholder="nombre">
        </div>
        <div class="form-group">
            <label class="label-left">Dirección: </label>
            <input placeholder="dirección">
        </div>
        <div class="form-group">
            <label class="label-left">Telefono de Contacto: </label>
            <input type="tel" name="telefono" placeholder="teléfono">
        </div>


        <button type="submit" class="btn btn-dark">Guardar</button>
    </form>
</div>